use chroot = false
strict modes = false
hosts allow = backup.yourdomain localhost
auth users = backup
secrets file = rsyncd.secrets
log file = rsyncd.log
uid = 0
gid = 0

[users]
  path = /cygdrive/c/Users/
  read only = yes
  list = yes

[settings]
  path = /cygdrive/c/Users/
  read only = yes
  list = yes

[users-rw]
  path = /cygdrive/c/Users/recovered/
  read only = no
  list = no
